.f1 {
  color: red;p
  margin-top: 18pt;
  margin-bottom: 12pt;
  font-size: 20px;
  font-family: Arial;
}
.f2 {
  color: black;
  margin-top: 6pt
  margin-bottom: 12pt;
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
}
